#container {
  height: 100vh;
  width: 100vw;
  background-color: #d4f6ff;
  overflow: hidden;
}

* {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Opera and Firefox */
}

.ground {
  position: absolute;
  bottom: 0;
  height: 200px;
  background-color: green;
  width: 100%;
  background-image: url("grass.svg");
  background-repeat: repeat;
  background-size: 100px;
}

.ground > div {
  display: none;
  position: absolute;
  bottom: 0;
  height: 180px;
  background-color: brown;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

img {
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.pointer {
  position: absolute;
  height: 200px;
  width: 300px;
  top: 0px;
  right: 0px;
}
.pointer > .top {
  width: 100px;
  height: 100px;
  left: 100px;
  position: absolute;
  background-image: url("right-arrow.svg");
  background-size: contain;
  transform: rotate(-90deg);
}
.pointer > .left {
  width: 100px;
  height: 100px;
  left: 0px;
  top: 100px;
  position: absolute;
  background-image: url("right-arrow.svg");
  background-size: contain;
  transform: rotate(-180deg);
}
.pointer > .right {
  width: 100px;
  height: 100px;
  right: 0px;
  top: 100px;
  position: absolute;
  background-image: url("right-arrow.svg");
  background-size: contain;
}